<div class="chat">
  <app-toolbar [title]="(current_dialog$ | async)?.name || 'Dialogs'">
    <button rightAction matTooltip="Create dialog" *ngIf="!(current_dialog$ | async)" mat-icon-button (click)="createDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button leftAction matTooltip="Back" *ngIf="(current_dialog$ | async)" mat-icon-button (click)="closeDialog()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </app-toolbar>

  <chat-dialogs *ngIf="!(current_dialog$ | async)" (openDialog)="openDialog($event)"></chat-dialogs>
  <div class="chat__messages">
    <chat-messages *ngIf="(current_dialog$ | async)" [dialogId]="(current_dialog$ | async).id"></chat-messages>
  </div>
</div>
