/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 20px;
  background: rgba(255,255,255, 0.06);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #757575;
}
